/* STICKY HEADER */
.topNavbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

/* LOGO */
.logo {
  flex: 1;
  cursor: pointer;
}

/* SEARCH BAR */
.searchBox {
  flex: 3;
  display: flex;
  border: 2px solid #e53935; /* Veena red */
  border-radius: 6px;
  overflow: hidden;
}

.searchBox select,
.searchBox input {
  border: none;
  padding: 10px;
  outline: none;
}

.searchBox input {
  flex: 1;
}

.searchBox button {
  border: none;
  background: none;
  padding: 0 18px;
  color: #e53935;
  font-weight: bold;
  cursor: pointer;
}

/* RIGHT ICONS */
.icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  font-size: 14px;
}

/* CART */
.cart {
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
}

/* CATEGORY BAR */
.categoryBar {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 500;
}

.categoryBar span:hover {
  color: #e53935;
  cursor: pointer;
}
